<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Welcome to Quoting Dojo</h1>
        <form action="/quotes" method='post'>
            Your Name: <input type="text" name='name'><br>
            Your Quote: <textarea name="quote" cols="30" rows="5"></textarea><br>
            <input type="Submit" value='Add my Quote!'>
        </form>

        <form action="/quotes">
            <input type="submit" value='Skip to Quotes!'>
        </form>
        
    </body>
</html>